.main-value {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--secondary-color);
}

.main-value .main-value__header{
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.main-value .main-value__content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}   

.main-value .main-value__content .main-little__value{
    color:rgba(0, 0, 0, 0.363)
}

.main-value .main-value__footer{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5px;
}   

.main-value .main-value__footer > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5px;
    color: rgb(0, 0, 0);
    margin: 2px;
    background-color: aquamarine;

}
