.content_transaction {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(97, 202, 22);
}


.content_transaction .header_transaction {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.content_transaction .body_transaction_block {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color_silver);
}

.content_transaction .footer_transaction {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}